
@{
    ViewBag.Title = ViewBag.c_name;
}

@model UserCourseInfo_Result

@{
    User usrInfo = (User)ViewData["UserInfo"];
}


@section head{

    <link href="/Content/eiser/css/load-more-button.css" rel="stylesheet">

}






<!--================End Home Banner Area =================-->
<!--================Single Product Area =================-->
<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">

                <div class="s_product_img">
                    <div id="carouselExampleIndicators"
                         class="carousel slide"
                         data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                @{
                                    var Imgbase64 = Convert.ToBase64String(Model.img);
                                    var imgSrc = String.Format("data:image/jpg;base64,{0}", Imgbase64);
                                }
                                <img class="d-block w-100"
                                     src="@imgSrc"
                                     alt="First slide" />
                            </div>
                        </div>
                    </div>
                </div>
                <section class="blog_area single-post-area">
                    <div class="posts-list">
                        @{
                            var imgB64 = Convert.ToBase64String(usrInfo.img);
                            var imsrc = String.Format("data:image/jpg;base64,{0}", imgB64);
                        }
                        <div class="blog-author">
                            <div class="media align-items-center">
                                <img src="@imsrc" alt="">
                                <div class="media-body s_product_text">
                                    <a href="#">
                                        <h4>@usrInfo.U_name @usrInfo.U_Surname</h4>
                                    </a>
                                    <ul class="list">
                                        <li>
                                            <a class="active" href="#">
                                                <span>Enrolment Year</span> : @usrInfo.enr_year
                                            </a>
                                        </li>
                                        <li>
                                            <a class="active" href="#">
                                                <span>Dept</span> : @usrInfo.dept
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3 id="cname">@Model.C_Name : @Model.C_Code</h3>
                    <h2>@Model.Price TL</h2>
                    <ul class="list">
                        <li>
                            <a class="active" href="#">
                                <span>Course Code</span> : @Model.C_Code
                            </a>
                        </li>
                        <li>
                            <a class="active" href="#">
                                <span>Dept</span> : @Model.dept
                            </a>
                        </li>
                    </ul>
                    <p>
                        <span class="text-monospace">
                            Description:
                            @Model.descrip sahdkjashdkjashdkjsahdkjashdk jsahdkjashdkjashkjdhsa kjdhakjsdhkjsahdkjsad    kjsadkjsahdkjahsdkjahsdkjashdkjhasdkjhdkjasdh
                        </span>

                    </p>

                    <div class="row">
                        <div class="col-md-6 col-sm-3">
                            <div class="product_count">
                                <select class="shipping_select" style="display: none;">
                                    <option value="1">Bangladesh</option>
                                    <option value="2">India</option>
                                    <option value="4">Pakistan</option>
                                </select>
                                <div class="nice-select shipping_select" tabindex="0">
                                    <span class="current">Day</span>
                                    <ul class="list">
                                        <li data-value="1" class="option selected">Bangladesh</li>
                                        <li data-value="2" class="option">India</li>
                                        <li data-value="4" class="option">Pakistan</li>
                                    </ul>
                                </div>
                            </div>


                        </div>
                        <div class="col-md-6 col-sm-3">
                            <div class="product_count">
                                <select class="shipping_select" style="display: none;">
                                    <option value="1">Bangladesh</option>
                                    <option value="2">India</option>
                                    <option value="4">Pakistan</option>
                                </select>
                                <div class="nice-select shipping_select" tabindex="0">
                                    <span class="current">Day</span>
                                    <ul class="list">
                                        <li data-value="1" class="option selected">Bangladesh</li>
                                        <li data-value="2" class="option">India</li>
                                        <li data-value="4" class="option">Pakistan</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="card_area">
                        <a class="main_btn" href="#" style="font-size:18px">Add to Cart</a>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<!--================End Single Product Area =================-->
<!--================Product Description Area =================-->
<div id="target">
    @{ Html.RenderAction("getFeedbacks", new { ID = Model.ID, C_Code = Model.C_Code, C_Name = Model.C_Name }); }
</div>




@section scripts{
    <script src="~/Content/eiser/js/load-more-button.js"></script>
    <script id="commentsubmit" src="~/Content/eiser/js/CommentAjax.js" data-id="@usrInfo.id" data-code="@Model.C_Code" data-name="@Model.C_Name"></script>

    

}







