
@{
    ViewBag.Title = "Offer";
    string ControllerName;
    string Title;
    string ActionName;
    string col;
    List<HomeworkList_Result> Homeworkdata = null;
    if (HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() == "Courses")
    {
        ControllerName = "Courses";
        ActionName = "Course_Req";
        Title = "Offer a course";
        col = "6";
    }
    else
    {
        col = "4";
        ControllerName = "Homework";
        Title = "Offer a Homework";
        ActionName = "Homework_Req";

        Homeworkdata = (List<HomeworkList_Result>)ViewBag.Hdata;
    }
}

<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content d-md-flex justify-content-between align-items-center">
                <div class="mb-3 mb-md-0">
                    <h2>@Title</h2>
                    <p>Very pleased for joining us.</p>
                </div>
                <div class="page_link">
                    <a href="/Home/Main">Home</a>
                    <a href="">@Title</a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="checkout_area section_gap">
    <div class="container">
        <div class="billing_details">
            <div class="row">
                <div class="col-lg-12">
                    <h3>@ControllerName Details</h3>
                    @using (Html.BeginForm(ActionName, ControllerName, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <!--Course Codes select-->
                        <div class="row contact_form">
                            <div class="col-md-@col form-group p_star">
                                <select class="form-control" name="C_Code" id="c_code" required>
                                    @foreach (CoursesOffer_Result C in Model)
                                    {
                                        <option value="@C.C_Code">@C.C_Code</option>

                                    }
                                </select>
                            </div>
                            <!---->
                            <!--Course Names select-->
                            <div class="col-md-@col form-group">
                                <select class="form-control" name="C_Name" id="c_name" required>
                                    @foreach (CoursesOffer_Result C in Model)
                                    {
                                        <option value="@C.C_Code">@C.C_Name</option>
                                    }
                                </select>
                            </div>

                            <!---->
                            <!--If its the homework offer page-->
                            @if (Homeworkdata != null)
                            {
                                <div class="col-md-@col form-group">
                                    <select class="form-control" name="title" id="hTitle" required>
                                        @foreach (HomeworkList_Result H in Homeworkdata)
                                        {
                                            <option value="@H.title" data-options="@H.C_Code">@H.title</option>
                                        }
                                    </select>
                                </div>
                            }
                            <!---->



                            <div class="col-md-8 form-group">
                                <div class="creat_account">
                                    <input type="checkbox" id="checkbox" name="newcourse" />
                                    <label for="f-option2">add a new course?</label>
                                </div>
                            </div>


                            <!--Add a homework-->
                            @if (ControllerName == "Homework")

                            {
                                <div class="col-md-4 form-group">
                                    <div class="creat_account">
                                        <input type="checkbox" id="h_checkbox" />
                                        <label for="f-option2">add a new Homework?</label>
                                    </div>
                                </div>

                            }
                            <!---->
                            <!--Homework title-->
                            <div id="new-homework" style="display:none;" class="col-md-12 form-group">
                                <div class="col-md-6 form-group p_star">
                                    <input type="text"
                                           class="form-control"
                                           id="HomeworkTitle" placeholder="Homework Title" oninput="CheckFields(this);" />
                                </div>
                            </div>
                            <!---->
                            <!--if add course checkbox is pressed-->
                            <div id="new-course" style="display:none;" class="col-md-12 form-grou">
                                <div class="col-md-6 form-group ">
                                    <input type="text"
                                           class="form-control"
                                           id="newcode" placeholder="Course Code" oninput="CheckFields(this);" />

                                </div>

                                <div class="col-md-4 form-group ">
                                    <input type="text"
                                           class="form-control"
                                           id="newname" placeholder="Course Name" oninput="CheckFields(this);" />
                                </div>

                                <div class="col-md-6 form-group ">
                                    <input type="text"
                                           class="form-control"
                                           placeholder="Course dept" id="dept" oninput="CheckFields(this);" />
                                </div>

                                @if (ControllerName == "Homework")
                                {
                                    <div class="col-md-6 form-group">
                                        <input type="text"
                                               class="form-control"
                                               placeholder="Homework title" id="title" oninput="Check(this);" />
                                    </div>
                                }

                            </div>
                            <!---->

                            <div class="col-md-6 form-group">
                                <input type='file' name="img" id='upfile' />
                                <label class="col-form-label">@Title Image</label>
                            </div>

                            @if (ViewBag.transcript == true)
                            {
                                <div class="col-md-6 form-group">
                                    <input type='file' name="transcript" id='trFile' />
                                    <label for="file" class="col-form-label">Upload Transcript</label>
                                </div>
                            }


                            <div class="col-md-4 ml-auto form-group">
                                <input type="number"
                                       class="form-control"
                                       name="price"
                                       placeholder="Price" required />
                            </div>

                            <div class="col-md-12 form-group p_star">
                                <textarea type="text"
                                          class="form-control"
                                          name="descrip" placeholder="Description" required></textarea>

                            </div>
                            <div class="col-md-7 ml-auto form-group">
                                <button type="submit" id="submitbutton" value="Upload Image" class="btn btn-success">
                                    Submit
                                </button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>


<div class="modal" tabindex="-1" role="dialog" id="notice">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Notice</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="text"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




@section scripts{

    @if (ViewBag.message != null)
    {
        <script>
            document.getElementById("text").innerHTML = "@ViewBag.message";
            $("#notice").modal("show");
        </script>

        ViewBag.message = null;
    }

    <script src="~/Content/eiser/js/ChainedSelectBoxses.js"></script>
    <script src="~/Content/eiser/js/OfferJs.js"></script>
    <script src="~/Content/eiser/js/ReqControl.js"></script>





}
